 <article class="banner_offer">
<div class="container">
<div style="width: 100%; text-align: center; ">
      <div class="row-fluid">
           <ul class="thumbnails">
              <li class="span4">
                <a href="#/cat/5.1.1">
                    <img class="static_ad_image" alt="Click to get 20% off in Watches"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/2500Acoustimass.jpg"
                         width="200" /> <!-- mobiles_sony -->
                </a>
              </li>
              <li class="span4">
                    <a  href="#/cat/5.1.7">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/2500-Ravaz.jpg"
                             width="200" /><!-- Men_adidas_shoes banner -->
                    </a>
              </li>
                <li class="span4">
                    <a  href="#/cat/5.1.5"> 
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/2500-Samsung.jpg"
                             width="200" /><!-- Sony_headphones banner -->
                    </a>
                </li>
           </ul>
</div>
     <div class="row-fluid">
        <ul class="thumbnails">      
               
    <li class="span4">
    <a  href="#/cat/5.1.3">
        <img alt="" class="static_ad_image"
             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/2500-Sony.jpg" width="200" /> <!-- Men_puma_shoes banner -->
    </a>
    </li>
                <li class="span4">
                    <a  href="#/cat/5.1.2">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/2500-Tissot.jpg" width="200" /> <!-- kids_crocs banner -->
                    </a>
                </li>
            <li class="span4">
                <a  href="#/cat/5.1.6">
                    <img alt="" class="static_ad_image"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/bigbanner/schneider/250012grams.jpg" width="200" /> <!-- kids_crocs banner -->
                </a>
            </li>
        </ul>
</div>
    </div>
     </article>
     
</body>
</html>

