<div class="myprofile view">
    <div class="container">
        <!-- Start: my account -->
        <div class="container my-account">

            <span class="title">My Profile</span>
            <span class="left">
                <span class="left_bg">
                    <ul>
                        <li><a href="#/my_profile">My Profile</a></li>
                        <li><a href="#/acct_points">My Points</a></li>
                        <li class="my-active"><a href="#/myachievement">My Achievement</a></li>
                        <li ><a href="#/myorder">My Redemption</a></li>
                    </ul>
                </span>
                <!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
            </span>
             <div class="right">
            <span class="heading">My Achievement</span>
                 <div class="point_body">
         <!--   <div style="padding: 50px"> -->
             <!--   <table style="border: 1px"> -->
                     <div class="details_points_bg">
                          <div class="details_points_table">
                    <table>
                    <thead>
                    <tr>
                        <th width="50"></th>
                        <th width="300" style="text-align: center">Sales Cycle<span class="date_arrow"></span></th>
                        <th width="100">Target</th>
                        <th width="100">Achievement</th>
                        <th width="100">Target</th>
                        <th width="270">Achievement</th>
                        <th width="100">Point</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  data-ng-repeat="a in achievements">
                        <td></td>
                        <td style="text-align: center">{{a.cycle_name}}</td>
                        <td>&nbsp </td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td style="text-align: center">{{a.achieve_val}}</td>
                        <td style="text-align: center">{{a.point}}</td>
                        <!--<td>Pending Approval</td>-->
                    </tr>
                    </tbody>
                </table>
                              </div>
               </div>
                     </div>
                 </div>
               </div>
        </div>
        <!-- end: my account -->
    </div>
</div>
