<div class="myprofile view">
    <div class="container">
        <!-- Start: my account -->
        <div class="container my-account">

            <span class="title">My Profile</span>
            <span class="left">
                <span class="left_bg">
                    <ul>
                        <li class="my-active"><a href="#/my_profile">My Profile</a></li>
                        <li><a href="#/acct_points">My Points</a></li>
                        <!-- <li><a href="#/achievement">My Achievement</a></li>-->
                        <li><a href="#/myorder">My Redemption</a></li>
                    </ul>
                </span>
                <!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
            </span>
            <style>
                .point_body span {
                    display: block;
                }

                    .point_body span label {
                        display: inline-block;
                        width: 120px;
                    }

                    .point_body span select {
                        width: 71px;
                    }

                .point_body .scorecard_body span label {
                    display: inline-block;
                    width: 100px;
                }

                .point_body .scorecard_body span input {
                    display: inline-block;
                    width: 105px;
                    margin-right: 10px;
                }

                /*.checkout_table .added_address span label {
                    display: inline-block;
                    width: 105px;
                }*/

                .checkout_table .added_address span input {
                    display: inline-block;
                    width: 230px;
                    margin-right: 10px;
                }

                .checkout_table .added_address span textarea {
                    display: inline-block;
                    width: 230px;
                    margin-right: 10px;
                }

                .checkout_table .added_address span select {
                    width: 244px;
                }

                .point_body .workinfo span {
                    display: inline-block;
                    width: 100px;
                }
            </style>
            <div class="right">
                <span class="heading">My Profile</span>
                <table class="checkout_table">
                    <tr>
                        <td width="410">
                            <div class="point_body">
                                <span>
                                    <label>First Name*</label>
                                    <input type="text" ng-model="my_profile.first_name" ng-readonly="true" class="ng-pristine ng-valid">
                                </span>
                                <span>
                                    <label>Last Name*</label>
                                    <input type="text" ng-model="my_profile.last_name" ng-readonly="true" class="ng-pristine ng-valid">
                                </span>
                                <span>
                                    <label>Email*</label>
                                    <input type="text" ng-model="my_profile.email_address" ng-readonly="true" class="ng-pristine ng-valid">
                                </span>
                                <span>
                                    <label>Phone*</label>
                                    <input type="text" ng-model="my_profile.mobile_no" ng-readonly="true" class="ng-pristine ng-valid">
                                </span>
                                <!--  <span>
                        <label>Gender*</label>
                        <input type="radio" name="sex" value="male">Male
                        <input type="radio" name="sex" value="female">Female<br>
                    </span>-->
                                <span>
                                    <label>Date Of Birth*</label>
                                    <select ng-model="my_profile.dob_date" disabled="disabled" ng-options="day.text as day.text for day in day_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.dob_month" disabled="disabled" ng-options="month.text as month.text for month in month_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.dob_year" disabled="disabled" ng-options="year.text as year.text for year in year_list" class="ng-pristine ng-valid">
                                    </select>
                                </span>
                                <span>
                                    <label>Date Of Joining*</label>
                                    <select ng-model="my_profile.doj_date" disabled="disabled" ng-options="day.text as day.text for day in day_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.doj_month" disabled="disabled" ng-options="month.text as month.text for month in month_list" class="ng-pristine ng-valid">
                                    </select>
                                    <select ng-model="my_profile.doj_year" disabled="disabled" ng-options="year.text as year.text for year in year_list" class="ng-pristine ng-valid">
                                    </select>
                                </span>
                                <span>
                                    <label>Qualification*</label>
                                    <input type="text" ng-model="my_profile.qualification" ng-readonly="true" class="ng-pristine ng-valid">
                                </span>

                                <!--<span>Name:</span>
                    <span>{{my_profile.fullname}}</span>
                    <br />
                    <span>Mobile #:</span>
                    <span>{{my_profile.mobile_no}}</span>
                    <br />
                    <span>Email:</span>
                    <span>{{my_profile.email_address}}</span>
                    <br />
                    <span>Address:</span>
                    <span>{{my_profile.address}}</span>
                    <br />
                    <span>Date of Birth:</span>
                    <span>{{my_profile.dob}}</span>
                    <br />
                    <span>Date of Joining:</span>
                    <span>{{my_profile.doj}}</span>
                    <br />
                    <span>Qualification:</span>
                    <span>{{my_profile.qualification}}</span>-->



                            </div>
                        </td>
                        <td width="288">
                            <div class="added_address">
                                <span class="cat_image">
                                    <a>
                                        <img style="width: 260px;" ng-src="http://cdn-new-annectos.s3.amazonaws.com/images/peterengland/n/RKIN0034.jpg" />
                                    </a>
                                    <!--<form id="RCDocUploadForm" action="/api/DocFile/postpdfdoc/" method="post" enctype="multipart/form-data">-->
                                    <!--<input type="file" name="filename" class="fileUpload" />
                                    <input type="hidden" name="first" value="Bob" />
                                    <button id="px-submit" type="submit">
                                        Upload</button>
                                    <button id="px-clear" type="reset" class="btn btn-warning cancel">
                                        Clear</button>-->
                                    <!--</form>-->
                                    <!-- <script type="text/javascript">
                                        jQuery(function ($) {
                                            $('.fileUpload').fileUploader();
                                        });
                                    </script>
                                    <script src="../../Scripts/jquery.fileUploader.js"></script>-->

                                    <!--<span class="add_cart_bg">
                                        <a href="" class="add_btn" data-ng-click="addTocart(product)">ADD TO CART</a>
                                        <div class="quick_bg">
                                           
                                            <a href="" data-ng-click="openQuickBuy(product.id)" class="quick-buy">QUICK BUY</a>
                                        </div>
                                    </span>-->
                                </span>
                            </div>

                        </td>

                    </tr>
                </table>



                <div id="profile-pic"></div>
                <div class="right">
                    <span class="heading">My Work Information</span>
                    <div class="point_body">
                        <div id="info" class="workinfo">
                            <div class="info_gett">
                                <div class="info_gett_to">
                                    <span>Branch Name:</span>
                                    <span>{{work_info.branch_name}}</span>
                                </div>
                                <div class="info_gett_to">
                                    <span>TM Name:</span>
                                    <span>{{work_info.Tm_Name}}</span>
                                </div>
                            </div>
                            <div class="info_gett">
                                <div class="info_gett_to">
                                    <span>Outlet Name:</span>
                                    <span>{{work_info.Outlet_Name}}</span>
                                </div>
                                <div class="info_gett_to">
                                    <span>Outlet Code:</span>
                                    <span>{{work_info.Outlet_code}}</span>
                                </div>
                            </div>
                            <div class="info_gett">
                                <div class="info_gett_to">
                                    <span>FOS (DSE) Code:</span>
                                    <span>{{work_info.Fos_Dse_Code}}</span>
                                </div>
                                <div class="info_gett_to">
                                    <span>City:</span>
                                    <span>{{work_info.city}}</span>
                                </div>
                            </div>
                            <div class="info_gett">
                                <span>District:</span>
                                <span>{{work_info.District}}</span>
                            </div>
                        </div>
                        <div id="scorecard" class="scorecard_body">
                            <h4>Scorecard</h4>
                            <h5>Target</h5>
                            <span>
                                <label>Month</label>
                                <input type="text" ng-model="achievements.cycle_name" class="ng-pristine ng-valid">
                                <label>Value</label>
                                <input type="text" ng-model="achievements.target_vol" class="ng-pristine ng-valid">
                            </span>

                            <h5>Achievement</h5>
                            <span>
                                <label>Month</label>
                                <input type="text" ng-model="achievements.cycle_name" class="ng-pristine ng-valid">
                                <label>Value</label>
                                <input type="text" ng-model="achievements.achieve_vol" class="ng-pristine ng-valid">
                                <label>Date</label>
                                <input type="text" ng-model="achievements.target" class="ng-pristine ng-valid">
                            </span>
                        </div>


                    </div>


                </div>
                <div class="right" id="last">
                    <span class="heading">Settings</span>
                    <div class="point_body">
                        <table style="width: 100%" class="checkout_table">
                            <tr>
                                <td valign="top" width="200">
                                    <h5>Your Saved Address</h5>

                                    <div>

                                        <a class="des" href="" data-ng-click="select_address(user_shipping_list)">{{user_shipping_list.fullname}}<br />
                                            {{user_shipping_list.address}} {{user_shipping_list.street}}
                                        <br />
                                            {{user_shipping_list.city}} {{user_shipping_list.state}}
                                        <br />
                                            {{user_shipping_list.zipcode}}<br />
                                            Mobile: {{user_shipping_list.mobile_no}}<br />
                                            <br />
                                        </a>


                                    </div>
                                </td>
                                <td valign="top">
                                    <form>
                                        <div style="padding-left: 20px;" id="updateaddressgopal" class="added_address">
                                            <h5>Update Address</h5>
                                            <span>
                                                <label>First Name*</label>
                                                <input type="text" ng-model="selected_address.first_name" required="required" value="" />
                                                <input type="text" ng-show="false" ng-model="selected_address.email_id" value="" />
                                            </span>
                                            <span>
                                                <label>Last Name*</label>
                                                <input type="text" ng-model="selected_address.last_name" required="required" value="" />
                                            </span>
                                            <span>
                                                <label>Street Address*</label>
                                                <textarea type="text" ng-model="selected_address.address" required="required" value=""></textarea>
                                            </span>
                                            <span>
                                                <label>Land Mark*</label>
                                                <input type="text" ng-model="selected_address.street" required="required" value="" />
                                            </span>
                                            <span>
                                                <label>City*</label>
                                                <input type="text" ng-model="selected_address.city" value="" />
                                            </span>
                                            <span>
                                                <label>State*</label>
                                                <span class="sort_bg">
                                                    <span class="sort">
                                                        <select ng-model="selected_address.state" ng-options="state.text as state.text for state in state_list">
                                                        </select>
                                                    </span>
                                                </span>
                                            </span>
                                            <span>
                                                <label>Country*</label>
                                                <input type="text" value="India (Service available only in India)" />
                                            </span>
                                            <span>
                                                <label>Pin Code*</label>
                                                <input type="text" ng-model="selected_address.zipcode" required="required" value="" />
                                            </span>
                                            <span>
                                                <label>Phone Number</label>
                                                <input type="text" ng-model="selected_address.mobile_no" required="required" value="" />
                                            </span>
                                            <button class="orderbtn" type="submit" data-ng-click="SaveUserRecord()">Save</button>
                                        </div>
                                    </form>

                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: my account -->
    </div>
</div>
