﻿<div class="order_page view">
    <div class="container-fluid">
        <header>
            <h3>&nbsp</h3>
        </header>
        <form id="myform" action="http://localhost:3054/checkout.aspx" method="post">
            <div class="container-fluid">
                <!--<div class="row" >-->
                <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->


                <!--</div>-->


                <div class="container span8" style="background-color: #f5f5f5">

                    <div class="row">

                        <div class="span8" data-ng-repeat="cartItem in cart">



                            <div class="span1">
                                <img class="img_cart" src="{{cartItem.image}}" />
                            </div>
                            <div class="span3 product_name">
                                <a href="#/prod/{{cartItem.id}}">{{cartItem.name}} </a>
                                - {{cartItem.brand}}
                            <br />
                                <del>&#2352;</del> ({{cartItem.mrp}})
                            </div>
                            <div class="span1">
                                <del>&#2352;</del> {{cartItem.final_offer}}
                            </div>
                            <div class="span2">
                                <input type="text" class="cart_quantity" readonly="readonly" data-ng-model="cartItem.quantity" />
                              <!--  <image class="cart_button" src="Content/custom_images/ok.jpg" ng-click="update_cart(cartItem.id, cartItem.quantity)"></image>
                                <image class="cart_button" src="Content/custom_images/delete.jpg" ng-click="delete_from_cart(cartItem.id)"></image>-->

                            </div>

                            <hr />

                        </div>

                    </div>
                    <div class="row">
                        <div class="span8 cart_head">
                            Cart Total: <del>&#2352;</del> {{total_amount_final_offer}} / {{total_point}} Points ( {{total_discount}} % off on <del>&#2352;</del> {{total_amount_mrp}})
                           
                            <input type="hidden" name="hdncart_id" ng-model="order.cart_id" />
                            <input type="hidden" name="Amount" ng-model="order.total_amount" />
                            <input type="hidden" name="hdn_points" ng-model="order.points" />
                            <input type="hidden" name="hdndiscount_code" ng-model="order.discount_code" />
                            <input type="hidden" name="hdnpaid_amount" ng-model="order.paid_amount" />

                            <input type="hidden" name="Merchant_Id" ng-model="paymentInfo.Merchant_Id">
<!--                            <input type="hidden" name="Amount" ng-model="paymentInfo.Amount">-->
                            <input type="hidden" name="Order_Id" ng-model="paymentInfo.Order_Id">
                            <input type="hidden" name="Redirect_Url" ng-model="paymentInfo.Redirect_Url">
                            <input type="hidden" name="Checksum" ng-model="paymentInfo.Checksum">
                            <input type="hidden" name="billing_cust_name" ng-model="paymentInfo.billing_cust_name">
                            <input type="hidden" name="billing_cust_address" ng-model="paymentInfo.billing_cust_address">
                            <input type="hidden" name="billing_cust_country" ng-model="paymentInfo.billing_cust_country">
                            <input type="hidden" name="billing_cust_state" ng-model="paymentInfo.billing_cust_state">
                            <input type="hidden" name="billing_cust_tel" ng-model="paymentInfo.billing_cust_tel">
                            <input type="hidden" name="billing_cust_email" ng-model="paymentInfo.billing_cust_email">
                            <input type="hidden" name="delivery_cust_name" ng-model="paymentInfo.name">
                            <input type="hidden" name="delivery_cust_address" ng-model="paymentInfo.address">
                            <input type="hidden" name="delivery_cust_country" ng-model="paymentInfo.delivery_cust_country">
                            <input type="hidden" name="delivery_cust_state" ng-model="paymentInfo.state">
                            <input type="hidden" name="delivery_cust_tel" ng-model="paymentInfo.mobile_number">
                            <input type="hidden" name="delivery_cust_notes" ng-model="paymentInfo.delivery_cust_notes">
                            <input type="hidden" name="Merchant_Param" ng-model="paymentInfo.Merchant_Param">
                            <input type="hidden" name="billing_cust_city" ng-model="paymentInfo.billing_cust_city">
                            <input type="hidden" name="billing_zip_code" ng-model="paymentInfo.billing_zip_code">
                            <input type="hidden" name="delivery_cust_city" ng-model="paymentInfo.delivery_cust_city">
                            <input type="hidden" name="delivery_zip_code" ng-model="paymentInfo.delivery_zip_code">
                        </div>


                    </div>
                    <div class="row">

                        <div class="span3">
                            <input type="submit" class="btn btn-primary pull-right" href="#/payment" title="Make a Payment" value="Payment" ng-click="Payment()" />

                            <!-- <a class="btn btn-primary pull-right" href="#/payment" title="Make a Payment" ng-click="Payment()">Payment
                          <span ng-include src="template.url" />
                        </a>-->

                        </div>
                    </div>
                </div>

                <div class="container span3">
                </div>



            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myform').submit(function () {
            window.open('', 'formpopup', 'width=800,height=800,resizeable,scrollbars');
            this.target = 'formpopup';
        });
    });


</script>
