<div class="terms ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br/>
        <span class="cantent_page_title">Security Policies</span>
<span class="cms_content">
<p>Shopping online at www.annectos.in  and www.thepenguinsclub.com is completely safe and secure.<br/>
    annectoś Rewards and Retail Pvt. Ltd. offers you the best possible standards of security currently available on internet. We strive to ensure that your shopping experience is private, safe and secure. We have implemented the best in class SSL certificate on our website so that the information that you enter on the website is encrypted and protected.</p>
<h1>Storage of data</h1>
<ul>
    <li>annectoś Rewards and Retail Pvt. Ltd. does not collect or store any of your credit card / bank account information.</li>
    <li>Payments are processed through secure Internet payment gateway system that is Verisign certified and PCI DSS compliant.</li>
</ul>

</span>

    </div>
</div>
