<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" data-ng-app="ECOMM.checkout" id="ng-app">
<!--<meta http-equiv="Cache-control" content="public" Expires= "Tue, 1 Oct 2013 08:21:57 GMT">-->
<head>
    <base href="checkout.html">
    <title>Annectos Online Store-Checkout</title>
    <link rel="icon" type="image/ico" href="../Content/custom_images/favicon.ico" />
    <!--<link href="Content/bootstrap.css" rel="stylesheet" />-->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="../Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="../Content/ecomm.css" rel="stylesheet" />
    <!--<link href="Content/jquery.jscrollpane.lozenge.css" rel="stylesheet" />-->
    <!--<link href="Content/ng-grid.min.css" rel="stylesheet" />-->
    <link href="../Content/styles.css" rel="stylesheet" />
	<link href="../Content/theme.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="../Scripts/json3.min.js"></script>
    <![endif]-->
</head>
<body>


<!-- Start: HEADER -->
<!-- Start: HEADER -->
<header class="inner">
    <!-- Start: HEADER TOP PART-->
    <div class="top_part  container">
        <div class="shadowbox inner ui-corner-all">
            <div class="topsec ui-corner-top" data-ng-controller="loginController">
                <a class="login" href="" data-ng-click="openRegistration()" >{{signout_text}}</a> | <a  href="" data-ng-click="openLogin()" class="login" >{{signin_text}}</a>
                <ul class="secure">
                    <li><img src="../Content/custom_images/points/safe_payment_icon.png" /> Safe and Secure Shopping Guarantee</li>
                    <li>FREE shipping ON ORDERS OVER &#x20B9 500</li>
                </ul>
            </div>
            <div class="middlesec">
                <span class="left_logo">
                    <a href="../home.html">
                    <img src="../Content/customer_images/logo.png" />
                    </a>
                </span>
                <span class="left_logo eselect"><img src="../Content/custom_images/Header/eselect.png" /></span>
			<span class="ship_section">
			<p class="ship_border_r"></p>
				<span class="shib_box_left_check">
					<span class="box_r_check">1</span>
					Shipping Address
				</span>
				<span class="shib_box_right_check">
					<span class="box_r_check">2</span>
					Payment Options
				</span>
			</span>
				<span class="customer_service">
		<ul>
            <li><span>Customer Service</span></li>
            <li>+91 9686202046 | +91 9972334590</li>
            <li>(10 - 7p.m, Mon-Fri)</li>
        </ul>
		</span>

            </div>
            <!-- Start: Navigation wrapper -->
            <ul class="mainnav ui-corner-bottom" data-ng-controller="MenuController">
                     <li class="first"><a href="" data-ng-click="open_level1_page('400')">400</a>

                        <ul>
                            <li data-ng-repeat="l2_400_menu_item in l2_400_menu">
                                <ul>
                                    <li class="title">
                                        <a href="#/cat/{{l2_400_menu_item.link}}">{{l2_400_menu_item.name}}</a>
                                    </li>
                                    <li data-ng-repeat="l3_400_menu_item in l3_400_menu | filter:{ParentId:l2_400_menu_item.link}">
                                        <a href="#/cat/{{l3_400_menu_item.link}}">{{l3_400_menu_item.name}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="border"></li>
                        </ul>
                    </li>
                    <li><a href="" data-ng-click="open_level1_page('700')">700</a>

                        <ul>
                            <li data-ng-repeat="l2_700_menu_item in l2_700_menu">
                                <ul>
                                    <li class="title">
                                        <a href="#/cat/{{l2_700_menu_item.link}}">{{l2_700_menu_item.name}}</a>
                                    </li>
                                    <li data-ng-repeat="l3_700_menu_item in l3_700_menu | filter:{ParentId:l2_700_menu_item.link}">
                                        <a href="#/cat/{{l3_700_menu_item.link}}">{{l3_700_menu_item.name}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="border"></li>
                        </ul>
                    </li>
                    <li><a href="" data-ng-click="open_level1_page('1000')">1000</a>

                        <ul>
                            <li data-ng-repeat="l2_1000_menu_item in l2_1000_menu">
                                <ul>
                                    <li class="title">
                                        <a href="#/cat/{{l2_1000_menu_item.link}}">{{l2_1000_menu_item.name}}</a>
                                    </li>
                                    <li data-ng-repeat="l3_1000_menu_item in l3_1000_menu | filter:{ParentId:l2_1000_menu_item.link}">
                                        <a href="#/cat/{{l3_1000_menu_item.link}}">{{l3_1000_menu_item.name}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="border"></li>
                        </ul>
                    </li>
                     <li><a href="" data-ng-click="open_level1_page('1500')">1500</a>

                        <ul>
                            <li data-ng-repeat="l2_1500_menu_item in l2_1500_menu">
                                <ul>
                                    <li class="title">
                                        <a href="#/cat/{{l2_1500_menu_item.link}}">{{l2_1500_menu_item.name}}</a>
                                    </li>
                                    <li data-ng-repeat="l3_1500_menu_item in l3_1500_menu | filter:{ParentId:l2_1500_menu_item.link}">
                                        <a href="#/cat/{{l3_1500_menu_item.link}}">{{l3_1500_menu_item.name}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="border"></li>
                        </ul>
                    </li>

                    <li><a href="" data-ng-click="open_level1_page('2000')">2000</a>
                        <ul>
                            <li data-ng-repeat="l2_2000_menu_item in l2_2000_menu">
                                <ul>
                                    <li class="title">
                                        <a href="#/cat/{{l2_2000_menu_item.link}}">{{l2_2000_menu_item.name}}</a>
                                    </li>
                                    <li data-ng-repeat="l3_2000_menu_item in l3_2000_menu | filter:{ParentId:l2_2000_menu_item.link}">
                                        <a href="#/cat/{{l3_2000_menu_item.link}}">{{l3_2000_menu_item.name}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="border"></li>
                        </ul>
                    </li>
                   
                    <li><a href="" data-ng-click="open_level1_page('3000')">3000</a>

                        <ul>
                            <li data-ng-repeat="l2_3000_menu_item in l2_3000_menu">
                                <ul>
                                    <li class="title">
                                        <a href="#/cat/{{l2_3000_menu_item.link}}">{{l2_3000_menu_item.name}}</a>
                                    </li>
                                    <li data-ng-repeat="l3_3000_menu_item in l3_3000_menu | filter:{ParentId:l2_3000_menu_item.link}">
                                        <a href="#/cat/{{l3_3000_menu_item.link}}">{{l3_3000_menu_item.name}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="border"></li>
                        </ul>
                    </li>


                    <!--<li><a class="newarrivals" href="#/newarrivals">New Arrivals </a></li>

                <li><a href="#" class="sale">sale </a>
                    <ul>
                        <li>
                            <ul>
                                <li><a href="#/special/9.1.0">Men</a> </li>
                                <li><a href="#/special/9.2.0">Women</a></li>
                                <li><a href="#/special/9.3.0">Kids</a></li>
                                <li><a href="#/special/9.4.0">Mobile & Tablet</a></li>
                                <li><a href="#/special/9.5.0">Home & Kitchen</a></li>
                                <li><a href="#/special/9.6.0">Electronics & Computers</a></li>
                            </ul>
                        </li>
                        <li class="border"></li>
                    </ul>
                </li>
                    <li><a class="premium" href="#/premium">Premium </a></li>
                    <li><a href="#/express" class="express">Express </a></li>-->
                </ul>
                <!-- End: Navigation wrapper -->
            </div>
        </div>
        <!-- End: HEADER TOP PART-->
    </header>
    <!-- End: HEADER -->
    <!-- End: HEADER TOP PART-->

<!-- Note that AngularJS 1.1.4 now has a built-in ng-animation direction. Left in animated-view to show a
     custom directive -->
<div animated-view></div>

<!-- Start: footer -->
<footer>
    <div class="footer">
        <div class="container footercontainer">
            <!--<div class="box payMethod">
                <div class="heading">Payment Method</div>
                <ul>
                    <li><img src="../Content/custom_images/Footer/Master.png" /></li>
                    <li><img src="../Content/custom_images/Footer/Visa.png" /></li>
                    <li><img src="../Content/custom_images/Footer/Maestro.png" /></li>
                    <li><img src="../Content/custom_images/Footer/NetBanking.png" /></li>
                </ul>
            </div>
			 <div class="box socialicon">
                    <div class="heading">Connect With Us</div>
                    <ul>
                        <li><a href="https://www.facebook.com/annectosindia" target="_blank" class="fb">Facebook</a></li>
                        <li><a href="https://twitter.com/annectos" class="tweet">Twitter</a></li>
                        <li><a href="http://www.linkedin.com/company/annecto-rewards-&-retail-pvt-ltd-/" target="_blank" class="in">Linkedin</a></li>

                    </ul>
                </div>
            <div class="box">
                <div class="heading">100% Secure Payment</div>
                <div>
                    <img src="../Content/custom_images/Footer/NortonLogo.png" />
                </div>
            </div>-->
            <div class="box customer_service">
                <ul>
                    <li><span>Customer Service</span></li>
                    <li>+91 9686202046 | +91 9972334590</li>
                    <li>(10 - 7p.m, Mon-Fri)</li>
                </ul>
            </div>

        </div>
        <div class="footerbottomlinks">
            <div class="container">
                <ul>
                    M<!--<li><a href="#/aboutus">About Us</a></li>-->
                    <li><a href="#/terms">Terms of Use</a></li>
                    <li><a href="#/security_policy">Security Policy</a></li>
                    <li><a href="#/privacy_policy">Privacy Policy</a></li>
                    <!--<li><a href="#/return_policy">Returns Policy</a></li>-->
                    <li><a href="#/contact_us">Contact us</a></li>
                    <!--<li><a href="#/feedback">Feedback</a></li>-->

                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Start: footer -->


<!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
<!--<script src="Scripts/angular.js"></script>-->

<!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>


<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<!--<script src="http:////cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>


<!----- For Tab ---------->
<!--<link href="//mgcrea.github.com/angular-strap/css/prettify.css" rel="stylesheet">-->

<!-- required libraries -->
<!--<script src="//mgcrea.github.com/angular-strap/js/angular-strap.js"></script>-->

<!-- optional libraries -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>-->


<!-------End ------------->
<script src="../Scripts/underscore-min.js"></script>
<script src="../Scripts/localStorageModule.js"></script>
<script src="../Scripts/xdate.js"></script>
<!--<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>-->
<!--<script src="Scripts/jquery.min.js"></script>-->

<!-- Configs-->
<script src="../config/config.js"></script>
<script src="../config/ad.js"></script>
<script src="../config/pricing_rules.js"></script>
<!-- UI Libs -->
<script src="../Scripts/jquery.zoom-min.js"></script>
<!--<script src="Scripts/jquery.tinyscrollbar.min.js"></script>-->
<!--<script src="Scripts/jquery.jscrollpane.min.js"></script>-->
<!--<script src="Scripts/jquery.mousewheel.js"></script>-->
<!--<script src="Scripts/ui-bootstrap-0.4.0.min.js"></script>-->
<script src="../Scripts/ui-utils.min.js"></script>
<script src="../Scripts/to-title-case.js"></script>
<!--<script src="Scripts/ng-grid.min.js"></script>-->




<!-- App libs -->
<script src="app/app.js"></script>
<!--<script src="app/util/util.js"></script>-->
<!--<script src="app/controllers/controllers.js"></script>-->
<!--New Controllers for Checkout App-->
<script src="app/controllers/shipController.js"></script>
<script src="app/controllers/ppController.js"></script>
<script src="app/controllers/express_popupController.js"></script>
<script src="app/controllers/ccController.js"></script>
<script src="app/controllers/nbController.js"></script>

<script src="app/controllers/dcController.js"></script>



<!--Switching controllers-->
<script src="app/controllers/catController.js"></script>
<script src="app/controllers/newarrivalsController.js"></script>
<script src="app/controllers/expressController.js"></script>
<script src="app/controllers/premiumController.js"></script>
<script src="app/controllers/specialController.js"></script>
<script src="app/controllers/staticNavController.js"></script>

<!--Reused Controllers from storefront-->
<script src="../app/controllers/loginController.js"></script>
<script src="../app/controllers/menuController.js"></script>
<script src="../app/controllers/cartController.js"></script>



<!--Services-->
<!--New Services-->
<script src="app/services/shipService.js"></script>
<script src="app/services/ppService.js"></script>
<script src="app/services/express_popupService.js"></script>
<script src="app/services/ccService.js"></script>
<script src="app/services/nbService.js"></script>

<script src="app/services/dcService.js"></script>
<script src="app/services/giftService.js"></script>


<!--Reused Services-->
<!--<script src="../app/services/landingService.js"></script>-->
<script src="../app/services/menuService.js"></script>
<!--<script src="../app/services/catService.js"></script>-->
<!--<script src="../app/services/productService.js"></script>-->
<!--<script src="../app/services/adService.js"></script>-->
<script src="../app/services/cartService.js"></script>
<!--<script src="../app/services/expressService.js"></script>-->
<!--<script src="../app/services/searchService.js"></script>-->
<!--<script src="../app/services/offerService.js"></script>-->
<!--<script src="../app/services/brandService.js"></script>-->
<script src="../app/services/utilService.js"></script>
<!--<script src="../app/services/registrationService.js"></script>-->
<script src="../app/services/loginService.js"></script>
<!--<script src="../app/services/checkoutService.js"></script>-->
<!--<script src="../app/services/orderService.js"></script>-->
<!--<script src="../app/services/paymentService.js"></script>-->
<script src="../app/services/state_managerService.js"></script>
<script src="../app/services/acctService.js"></script>
<script src="../app/services/specialService.js"></script>
<script src="../app/services/premiumService.js"></script>
<script src="../app/services/activationService.js"></script>
<script src="../app/services/forgotpwdService.js"></script>

<script src="../app/directives/animatedView.js"></script>
<!--<script src="../checkout/app/directives/loading.js"></script>-->
<!--[if lte IE 8]>
<script src="../Scripts/ieshiv.js"></script><![endif]-->
<!--<script>angular.bootstrap(document, ['ui.bootstrap ']);</script>-->
</body>
<!--<script>-->
<!--$(document).ready(function(){-->
<!--alert ("ssss")    ;-->
<!--$('.productImage')-->
<!--.wrap('<span style="display:inline-block"></span>')-->
<!--.css('display', 'block')-->
<!--.parent()-->
<!--.zoom();-->
<!--});-->
<!--</script>-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45400748-2', 'annectos.net');
    ga('send', 'pageview');

</script>
</html>
